/********** COMMON **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.position {
    position: relative;
}

.space-bet {
    justify-content: space-between;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}


.nav-button {
    background-color: #0061FF;
    color: white;
    text-align: center;
    padding: 2px;
    min-width: 20px;
}

.special-section {
    width: 100%;
    margin: 0 auto; 
    max-width: 1100px;
}

.small {
    padding: 5px 10px;
}
.big {
    margin: 35px 20px 35px 0;
    padding: 15px 10px;
}

.padding {
    padding-left: 35px;
    padding-bottom: 60px;
}

.bord-l {
    border-left:1px solid #4F4F4F;
}
.bord-r {
    border-right: 1px solid #474747;
}

.bord-bot {
    border-bottom: 1px solid #474747;
}

.margin {
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    margin-left: 55px;
    font-size: 70px;
}

h3 {
    font-size: 25px;
}


/********** HEADER **********/
.container {
    width: 100%;
    padding: 12px;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.nav a {
    text-decoration: none;
    color: #4F4F4F;
}

.nav {
    display: flex;
    gap: 20px;
    margin: 5px 10px;
}



/********** MAIN - section-1**********/
.section-1 {
    background-color: #B4D0E7;
    padding-top: 70px;
}

.img-jumbo {
    display: flex;
    align-content: end;
    width: 50%;
    position: absolute;
    right: 15px;
    bottom: -65px;
    margin-right: 60px;
}

.link-button {
    padding: 10px;
    min-height: 10px; 
    min-width: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0061FF;
    color: white;
}


.text-fix {
    width: 25%;
}

.text-row {
    width: 40%;
    font-size: 15px;   
}

.jumbo {
    margin-top: 20px;
    margin-left: 60px;
}

.arrow {
    padding: 40px 0 15px 0;
    font-size: 40px;
}

.big-section {
    width: 100%;
    max-width: 1100px;
    margin:100px auto;
}


/********** section-2 **********/
.business-plane {
    gap: 25px;
    margin-top: 50px;
}

.h2-sec2 {
    margin-bottom: 60px;
}

.ul-column {
    line-height: 50px;
}

.radio-but-2 {
    margin-left: 35px;
}

.column {
    width: calc(100% /3 - (50px / 3));
    border: #474747 1px solid;
    font-size: 18px;
    padding-right: 25px;
}

.column li{
    line-height: 40px;
}

.link-button a {
    text-decoration: none;
    color: white;
}

ul i {
    color: blue;
}

.first-row { 
    border-bottom: #474747 1px solid;
    padding: 5px 0;
    text-align: center; 
    text-indent: 0;
    margin-bottom: 45px;
}
.plan-text {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}

.plan-hr {
    border: 1px solid #E3E3E5;
    width: 20%;
    margin-bottom: 30px;
    margin-top: 30px;
}




/********** section-3 **********/
.tea.-title {
   padding: 10px;
   border: 1px solid #4F4F4F;
   text-align: center;
}

.margin-sec-3 {
    margin: 0 200px;
}

.team-text {
    line-height: 30px;
    width: 65%;
    padding-left: 25px;
}


.p-sec3 {
    margin-top: 40px;
}


.text-fix {
    width: 30%;
}

.h3-sec3 {
    padding-top: 20px ;
}



/********** section-4 **********/
.section-4 {
    height: 500px;
    width: 58%;
    margin: auto;
    /* debug  */
    background-color: crimson;
}

.container-sec5 {
    width: 80%;
    max-width: 1100px;
    margin: auto;  
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 150px;
}

.column-operations {
    height: 450px;
    width: calc(100% /3 - (50px / 3));
    /* debug  */
    background-color: olivedrab;
}

.section-6 {
    width: 58%;
    margin: 150px auto;
    /* debug  */
    height: 200px;
    background-color: violet;
}

.section-7 {
    width: 100%;
    /* debug  */
    height: 450px;
    background-color: aquamarine;
}

.section-8 {
    width: 100%;
    /* debug  */
    height: 220px;
    background-color: steelblue;
}

.section-9 {
    width: 100%;
    /* debug  */
    height: 450px;
    background-color: slategrey;
}

/********** FOOTER **********/
.section-10 {
    width: 100%;
    /* debug  */
    height: 400px;
    background-color: coral;
}    

